.sale {
    width: 120px;
    height: 185px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.blinker {
    animation: blinker 1.0s linear infinite;
    text-shadow: 0px 0px 5px red;
    text-shadow: 0px 0px 5px rgb(205, 249, 6);
    text-shadow: 0px 0px 5px rgb(28, 130, 130);
    text-shadow: 0px 0px 5px rgb(5, 141, 41);
    text-shadow: 0px 0px 5px rgb(95, 65, 165);
    text-shadow: 0px 0px 5px rgba(168, 37, 37, 0.83);
    text-shadow: 0px 0px 5px rgb(235, 227, 11);
    text-shadow: 0px 0px 5px rgb(58, 211, 150);
    text-shadow: 0px 0px 5px rgb(165, 42, 33);
    text-shadow: 0px 0px 5px rgb(60, 21, 186);
    text-shadow: 0px 0px 5px rgb(240, 113, 161);
}

@keyframes blinker {
    0% {
        color: red;
        font-size: 30px;
        /* transform: rotateZ(360deg); */
    }

    10% {
        color: rgb(205, 249, 6);
    }

    20% {
        color: rgb(28, 130, 130);
        font-size: 25px;
    }

    30% {
        color: rgb(5, 141, 41);
    }

    40% {
        color: rgb(95, 65, 165);
        font-size: 20px;
    }

    50% {
        color: rgba(168, 37, 37, 0.83);
    }

    60% {
        color: rgb(235, 227, 11);
        font-size: 15px;
    }

    70% {
        color: rgb(58, 211, 150);
    }

    80% {
        color: rgb(165, 42, 33);
        font-size: 10px;
    }

    90% {
        color: rgb(60, 21, 186);
    }

    100% {
        color: rgb(240, 113, 161);
        font-size: 30px;
    }
}

.variety {
    width: 35%;
    height: 100px;
    background-color: rgb(209, 194, 194);
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;

}

.card {
    width: 250px;
    height: 90px;
    padding: 0px 5px;
}

.laptop-heading {
    width: 30%;
    height: 50px;
    background-color: cornflowerblue;
    font-family: 'Audiowide', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    border-radius: 5px 100px;
}

.laptop-main-div {
    height: 250px;
    width: 70%;
    background-color: rgb(199, 214, 209);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: auto;

}

.laptops {
    width: 20%;
    height: auto;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

}

.laptops img {
    border-radius: 50%;
}

.laptops img:hover {
    transform: scale(1.1);
    border-radius: 10px;

}

.bottom-container {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding-top: 70px;
    background-color: #181818;
    color: #fff;
    display: inline-block;
    /* align-items: center;
    justify-content: center; */
    text-align: center;

}
ol li{
    display: initial;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
ol li a{
    text-decoration: none;
}
.accounts {
    width: 20px;
    height: 20px;
    padding: 15px 5px;
    cursor: pointer;
    display: inline-flex;
}
.accounts:hover{
    position: relative;
    bottom: 2px;
}